<launch>
    <!-- Run the DS4 Driver --> 
    <!-- <arg name="addr" default="84:30:95:90:12:CD" /> -->
     <arg name="addr" default="" />

    <arg name="use_standard_msgs" default="true" />
    <arg name="autorepeat_rate" default="0" if="$(arg use_standard_msgs)" />

    <node pkg="ds4_driver" type="ds4_driver_node.py" name="ds4_driver" >
        <rosparam command="load" file="$(find ds4_driver)/config/params.yaml" />

        <param name="device_addr" value="$(arg addr)" />
        <param name="use_standard_msgs" value="$(arg use_standard_msgs)" />
        <param name="autorepeat_rate" value="$(arg autorepeat_rate)" if="$(arg use_standard_msgs)" />
        
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="ds4_to_imu"
        args="0 0.05 -0.01 -1.5707 0 1.5707 ds4 ds4_imu" />

    <!-- Run Controller Node -->
    <node pkg="main_controller" type="robot_node" name="robot_node" />
    
    <!-- Run Lidar Node -->
    <!-- <include file="$(find rplidar_ros)/launch/rplidar_a2m8.launch" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster_node" args="0.12 0 0 0 0 0 base_link laser 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_base_broadcaster" args="0 0 0 0 0 0 map base_link 100" /> -->

    <!-- Run STM32 Communication Node -->
    <node pkg="main_controller" type="robot_comhardware_node" name="comhardware_node" output="log"/>
    
    <!-- <node pkg="main_controller" type="tf_broadcaster_node" name="odom_tf_broadcaster_node" /> -->



</launch>
